.wrapper{
  width: 1000px;
  height: 1170px;
  background-color: #1f3038;
  font-family: optima;
}

.header{
  width: 100%;
  height: 20%;
  display: inline-block;
}

#header_top{
  width: 100%;
  height: 33%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0px;
}

#header_top h1{
  color: #dde4e3;
  display: inline-block;
  margin: 0px 0px 20px 0px;
  padding-left: 15px;
}

#header_top h2{
  color: #9294a4;
  display: inline-block;
  margin-left: 0px;
  font-size: 33px;
}

#header_top img{
  display: inline-block;
  margin-left: 60%;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  margin-top: 9px;
}

#header_bottom{
  width: 100%;
  height: 18%;
  display: inline-block;
  vertical-align: top;
  background-color: #394a52;
}

.nav_box{
  color: #86979d;
  display: inline-block;
  padding-left: 30px;
}
.nav_box h2{
  display: inline-block;
  border-right: solid;
  text-align: center;
  font-size: 15px;
  padding-right: 10px;
}

#banner{
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.trim{
  background-color: #486259;
  width: 100%;
  height: 20px;
  vertical-align: top;
  display: inline-block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.left{
  width: 22%;
  height: 900px;
  vertical-align: top;
  display: inline-block;
  padding: 10px;
}

.left p{
  margin: 0px;
  color: #708383;
}

#submit{
  background-color: #e8a117;
  color: white;
  outline: 1px solid white;
}

.notes_area{
  width: 100%;
  height: 180px;
  outline: .5px solid grey;
  color: white;
  margin-top: -12px;
}

.notes_top{
  width: 100%;
  height: 40px;
  outline: .5px solid grey;
  background-color: #374b50;
}

.notes_top h3{
  padding-top: 10px;
  padding-left: 10px;
}

.notes_area p{
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

.notes_area a{
  color: #a9ec2b;
  padding-left: 10px;
  display: inline-block;
}

.notes_area_2{
  width: 100%;
  height: 170px;
  outline: .5px solid grey;
  margin-top: 10px;
  background-color: #3b5654;
  overflow: scroll;
}

.notes_area_2 p{
  margin: 10px;
  padding-top: 10px;
  color: white;
}

.left img{
  width: 100%;
  height: 120px;
  margin-top: 10px;
}

.right{
  width: 66%;
  height: 860px;
  vertical-align: top;
  display: inline-block;
  padding: 40px;
  margin: -6px 10px 0px 0px;
  background-color: #304e4d;
  border-radius: 25px 25px 0px 0px;
}

.main{
  width: 460px;
  height: 750px;
  display: inline-block;
  color: white;
}

.main h1{
  margin-bottom: -5px;
}

.main p{
  margin: 1px;
  font-size: 15px;
}
.main a{
  color: #bccc66;
  text-decoration: none;
}

.main_right{
  width: 180px;
  height: 700px;
  display: inline-block;
  vertical-align: top;
  padding: 15px 0px 15px 15px;
  position: absolute;
  margin-left: 20px;
}

.divider{
  width: 435px;
  height: 3px;
  outline: 1px solid white;
  margin: 20px 0px 20px 0px;
}

.note_top{
  width: 80px;
  height: 20px;
  outline: 1px solid white;
  position: absolute;
  top: 30px;
  margin-left: 10px;
  background-color: #304e4d;
  color: white;
}

.note_top p{
  position: absolute;
  top: -15px;
}

.notes_area_3{
  width: 165px;
  height: 115px;
  outline: 1px solid white;
  position: absolute;
  top: 40px;
  color: white;
}

.notes_area_3 p{
  margin: 12px 2px 0px 2px;
}

.main_right img{
  width: 165px;
  height: 100px;
  outline: 1px solid white;
  margin-top: 160px;
}

.notes_area_4{
  width: 165px;
  height: 115px;
  outline: 1px solid white;
  position: absolute;
  top: 300px;
  color: white;
}

.notes_area_4 p{
  margin: 12px 2px 0px 2px;
}

.note_top_4{
  width: 80px;
  height: 20px;
  outline: 1px solid white;
  position: absolute;
  top: 290px;
  margin-left: 10px;
  background-color: #304e4d;
  color: white;
}

.note_top_4 p{
  position: absolute;
  top: -15px;
}

.main_right a{
  color: #bccc66;
  text-decoration: none;
}
